{% extends "admin_template.html" %}

{% block head %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='media/css/select2_metro.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='media/css/DT_bootstrap.css') }}" />
{% endblock %}


{% block content %}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

  <div id="portlet-config" class="modal hide">

        <div class="modal-header">

          <button data-dismiss="modal" class="close" type="button"></button>

          <h3>User Settings</h3>

        </div>

        <div class="modal-body">

          User settings form goes here

        </div>

      </div>

      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

      <!-- BEGIN PAGE CONTAINER-->

      <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">


          <div class="span12">


            <!-- BEGIN PAGE TITLE & BREADCRUMB-->

            <h3 class="page-title">

              用户中心

            </h3>

            <ul class="breadcrumb">

              <li>

                <i class="icon-home"></i>

                <a href="index">首页</a> 

                <i class="icon-angle-right"></i>

              </li>

              <li><a href="#">用户中心</a></li>

            </ul>

            <!-- END PAGE TITLE & BREADCRUMB-->

          </div>
    

          <div class="span6 responsive" data-tablet="span12 fix-offset" data-desktop="span6">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->

            <div class="portlet box grey">

              <div class="portlet-title">

                <div class="caption"><i class="icon-user"></i>用户</div>

                <div class="actions">

                  <a data-toggle="modal" data-target="#userModal" class="btn blue"><i class="icon-pencil"></i> 添加</a>

                  <div class="btn-group">

                    <a class="btn green" href="#" data-toggle="dropdown">

                    <i class="icon-cogs"></i> 工具

                    <i class="icon-angle-down"></i>

                    </a>
              
                    <ul class="dropdown-menu pull-right">

                      <li><a id="btnEditUser" data-toggle="modal" data-target="#userModal"><i class="icon-pencil"></i> 编辑</a></li>

                      <li><a href="#"><i class="icon-trash"></i> 删除</a></li>

                      <li class="divider"></li>

                      <li><a href="#"><i class="i"></i> 设为管理员</a></li>

                    </ul>

                  </div>

                </div>

              </div>

              <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover" id="sample_2">

                  <thead>

                    <tr>

                      <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" /></th>

                      <th class="hidden-480">ID</th>

                      <th>用户名</th>

                      <th>邮箱</th>

                      <th>手机号</th>

                      <th>管理员</th>

                    </tr>

                  </thead>

                  <tbody>

                    {% for user in users %}

                    <tr class="odd gradeX">

                      <td><input type="checkbox" class="checkboxes" value="1" /></td>

                      <td>{{user.oid}}</td>

                      <td>{{user.name}}</td>

                      <td>{{user.email}}</td>

                      <td>{{user.mobile}}</td>

                      <td><input type="checkbox" class="checkboxes" disabled="True" 
                      {% if user.isadmin %} checked="checked" {% endif %} /></td>

                    </tr>

                    {% endfor %}

                  </tbody>

                </table>

              </div>

            </div>

            <!-- END EXAMPLE TABLE PORTLET-->

          </div>

        <!-- END PAGE HEADER-->


      </div>

    </div>

<!-- 模态框（Modal） -->


    <div id="userModal" class="modal hide fade" tabindex="-1" data-width="760">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

        <h3>创建用户</h3>

      </div>

      <div class="modal-body">

        <div class="row-fluid">
          <div class="span12">

                  <div class="alert alert-error hide">

                    <button class="close" data-dismiss="alert"></button>

                    <span id="errorSpan">错误</span>

                  </div>
        <!-- BEGIN FORM-->
            <form id="form_user" action="#" class="form-horizontal" method="post">

              <div class="control-group">

                    <label class="control-label">用户名</label>

                    <div class="controls">
                      <input name="username" type="text" value="{{ request.form.username }}" class="span6 m-wrap popovers" data-trigger="hover" data-content="字母、数字或下划线，须以字母打头" data-original-title="提示" placeholder="请输入你的用户名"/>

                    </div>

              </div>

              <div class="control-group">

                    <label class="control-label">密码</label>

                    <div class="controls">

                      <input id="password" name="password" value="{{ request.form.password }}" type="password" type="text" class="span6 m-wrap" placeholder="请输入你的密码"/>

                    </div>

              </div>

              <div class="control-group">

                    <label class="control-label">确认密码</label>

                    <div class="controls">

                      <input name="password2" type="password" value="{{ request.form.password2 }}" type="text" class="span6 m-wrap" placeholder="请再次输入你的密码"/>

                    </div>

              </div>
              <div class="control-group">

                    <label class="control-label">性别</label>

                    <div class="controls">

                      <label class="radio">

                      <input type="radio" name="genderRadio" value="male" checked/>

                      男

                      </label>

                      <label class="radio">

                      <input type="radio" name="genderRadio" value="female"  />

                      女

                      </label>  

                    </div>

              </div>
              <div class="control-group">

                    <label class="control-label">邮箱</label>

                    <div class="controls">

                      <div class="input-icon left">

                        <i class="icon-envelope"></i><input id="email" name="email" value="{{ request.form.email }}" class="m-wrap " type="text" placeholder="请输入你的邮箱" />  

                      </div>

                    </div>

              </div>
              <div class="control-group">

                    <label class="control-label">手机号</label>

                    <div class="controls">

                      <div class="input-icon left">

                        <i class="icon-phone"></i><input name="mobile" value="{{ request.form.mobile }}" class="m-wrap " type="text" placeholder="请输入你的手机号" />  

                      </div>
                    </div>
              </div>
              <div class="control-group">

                    <label class="control-label">管理员</label>

                    <div class="controls">

                      <label class="checkbox">

                      <input id="isadminCkb" name="isadmin" type="checkbox" 
                      {% if request.form.isadmin %} checked="checked" {% endif %} />
                      </label>

                    </div>

              </div>
            </form>
                <!-- END FORM-->
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <button type="button" data-dismiss="modal" class="btn">关闭</button>

        <button id="btnSubmit" type="submit" class="btn blue">保存</button>

      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block foot %}
  <script type="text/javascript" src="{{ url_for('static', filename='media/js/jquery.vmap.js') }}"></script>   


  <script type="text/javascript" src="{{ url_for('static', filename='media/js/select2.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/jquery.dataTables.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/DT_bootstrap.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/table-managed.js') }}"></script>   


  <script type="text/javascript" src="{{ url_for('static', filename='media/js/jquery.validate.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/additional-methods.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/select2.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/chosen.jquery.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='media/js/form-user-validation.js') }}"></script> 
{% endblock %}

{% block script %}

  
  <script>

      jQuery(document).ready(function() {    

         TableManaged.init();

         FormUserValidation.init();
         $('ul.page-sidebar-menu').find($('li')).removeClass("active");
         $("#li_user").addClass("active");

         $('#userModal').on('shown.bs.modal', function () {
            $('body').css('overflow','hidden');
         });
         $('#userModal').on('hide.bs.modal', function () {
            $('body').css('overflow','auto');
         });
         $('#btnEditUser').on('click', function(){
            $('tbody').find('tr').each(function(){
              cbx = $(this).find('.checkboxes')[0];
              if (cbx.checked) {
                oid = $(this).find('td')[1].textContent;
              };
              // tr = $(this).find('tr');
              // cbx = this.find('td')[0];
              // if (cbx.checked) {
              //   alert(1);
              // };
            // alert($(this).find('td').eq(1).find('input').val());
            // alert($(this).find('td').eq(2).find('select').val());
            });
            // var rows=$('#trUser');
            // alert(rows.length);
            // for(var i=0;i<rows.length;i++){
            //   alert(rows[i]);
            // }
         });
      });

  </script>
{% endblock %}